@page "/betalen"
@inject IStringLocalizer<SharedResource> L

<div class="betalen-page">
    @if (!IsPaid)
    {
        <h1>@L["PaymentTitle"]</h1>
        <p class="betalen-info">@L["PaymentSimulation"]</p>
        <button class="betalen-button" @onclick="Pay">@L["PayNow"]</button>
    }
    else
    {
        <h1>@L["PaymentSuccessTitle"]</h1>
        <p class="betalen-info">@L["PaymentWindowClose"]</p>
    }
</div>
@code {
    private bool IsPaid;

    private void Pay()
    {
        IsPaid = true;
    }
}
