@page "/"
@using BioscoopCasus.Web.Components
@inject MoviesOverviewService MoviesOverviewService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<TerminalShell>
    <div class="terminal-header">
        <h1>Polo's Cinema Paradise Breda</h1>
    </div>

    <div class="column">
        <h3>Upcoming Showings</h3>
        <p class="placeholder-text">No shows found...</p>
        <TerminalButton Href="/films" Text="All Showings" IsPrimary="true" />
    </div>

    <div class="column">
        <h3>Latest Movies</h3>
        @if (_movies == null)
        {
            <p class="empty-message">Loading...</p>
        }
        else if (!_movies.Any())
        {
            <p class="placeholder-text">No movies found...</p>
        }
        else
        {
            <div class="movie-grid">
                @foreach (var movie in _movies)
                {
                    <div class="movie-card clickable-card" @onclick="@(() => OpenMovie(movie.Id))">
                        <img src="https://placehold.co/200x250" alt="@movie.Title"/>
                        <div class="movie-card-info">
                            <h3>@movie.Title</h3>
                            <p class="movie-genres">@movie.Genres</p>
                            <p class="movie-duration">@movie.DurationMinutes minuten</p>
                        </div>
                    </div>
                }

            </div>
        }
        <TerminalButton Href="/movies" Text="All Movies" IsPrimary="true" />
    </div>

    <div class="column">
        <h3>Print Ticket</h3>
        <TerminalButton Href="/ticketprint" Text="Print your ticket" IsPrimary="true" />
    </div>

    <div class="admin-login-wrapper">
        <TerminalButton Href="/login" IsPrimary="false" CssClass="admin-btn">
            <ChildContent>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round">
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
                    <polyline points="10 17 15 12 10 7"></polyline>
                    <line x1="15" y1="12" x2="3" y2="12"></line>
                </svg>
            </ChildContent>
        </TerminalButton>
    </div>
</TerminalShell>

@code{
    private List<MoviesOverviewDto>? _movies;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadMovies();
    }
    
    private async Task LoadMovies()
    {
        _movies = await MoviesOverviewService.GetMoviesAsync(DateTime.Now);
        // Make sure to only show 3 movies to avoid clutter
        _movies = _movies.Slice(1, 5);
    }
    
    private void OpenMovie(int movieId)
    {
        NavigationManager.NavigateTo($"/movies/{movieId}");
    }
}